@model M153_Project_Olma_Moiz_Jamalia.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8" />
    <script>
        const imageData = localStorage.getItem('ImageData');

        document.getElementById('ImageData').value = imageData;
    </script>
    <title>Olma | Create User</title>
</head>
<body>
    <div>
        <form asp-action="CreateUser" method="post" enctype="multipart/form-data">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" required>

            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" required>

            <label for="birthDate">Birthdate:</label>
            <input type="date" id="birthDate" name="birthDate" required>

            <label for="eMail">E-Mail:</label>
            <input type="email" id="eMail" name="eMail" required>

            <label for="phoneNr">Phone Nr:</label>
            <input type="text" id="phoneNr" name="phoneNr" required>

            <label for="postCode">Post Code:</label>
            <input type="number" id="postCode" name="postCode" required>

            <label for="city">City:</label>
            <input type="text" id="city" name="city" required>

            <label for="street">Street:</label>
            <input type="text" id="street" name="street" required>

            <label for="streetNr">StreetNr:</label>
            <input type="text" id="streetNr" name="streetNr" required>

            <input type="hidden" id="ImageData" name="ImageData" value="">

            <input type="checkbox" id="correctAnswer" name="correctAnswer" >

            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
