@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8" />
    <title>Olma | Home</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body id="home_body">
    <div class="nav">
        <form>
            <a id="loginButton" href="@Url.Action("AdminLogin", "AdminLogin")"><input type="button" name="Login" value="Admin Anmeldung" class="button"></a>
            <a id="prizeScreenButton"><input type="button" name="Login" value="Preisliste" class="button"></a>
        </form>
    </div>

    <div class="container-content">
        <!--<img src="../assets/Logo-M153.svg" alt="" width="150" class="picture">-->
        <h1>test</h1>
        <br>
        <div></div>
    </div>
</body>
</html>