@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8" />
    <link rel="stylesheet" href="~/css/styles.css">
    <script src="~/WebCamjs/webcam.js"></script>
    <script src="~/js/CamScript.js"></script>
    <title>Olma | Home</title>
</head>
<body id="home_body">
    <div class="nav">
        <form>
            <a id="loginButton" href="@Url.Action("AdminLogin", "AdminLogin")"><input type="button" name="Login" value="Admin Login" class="button"></a>
            <a id="prizeScreenButton"><input type="button" name="Login" value="Price List" class="button"></a>
        </form>
    </div>

    <div id="camera-container" class="container-content">
        <!--<img src="" alt="logo" width="150" class="picture">-->
        <h1>test</h1>
        <br>
        <div id="camera"></div>
    </div>
    <button id="capture-btn" type="button" name="CapturePicture">Take a Picture</button>
    <div id="form-container" class="container-content" style="display: none;">
        @Html.Partial("CreateUser", new M153_Project_Olma_Moiz_Jamalia.Models.User())

        <input type="hidden" id="ImageData" name="imageData" value="">
    </div>
    <img id="captured-image" name="captured" alt="Captured Image" style="display: none;">
</body>
</html>