@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8" />
    <link rel="stylesheet" href="~/css/styles.css">
    <script src="~/WebCamjs/webcam.js"></script>
    <script src="~/js/CamScript.js"></script>
    <title>Olma | Home</title>
</head>
<body id="home_body">
    <div class="nav">
        <form>
            <a id="loginButton" href="@Url.Action("AdminLogin", "AdminLogin")"><input type="button" name="Login" value="Admin Login" class="button"></a>
            <a id="prizeScreenButton"><input type="button" name="Login" value="Price List" class="button"></a>
        </form>
    </div>

    <div id="camera-container" class="container-content">
        <!--<img src="" alt="logo" width="150" class="picture">-->
        <h1>test</h1>
        <br>
        <div id="camera"></div>
    </div>
    <button id="capture-btn" type="button" name="CapturePicture">Take a Picture</button>
    <!--<a><input id="capture-btn" type="button" value="Take a Picture" /></a>-->
    <div id="form-container" class="container-content" style="display: none;">
        <form>
            <!-- Add your form elements here -->
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" required>

            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" required>

            <input type="hidden" id="ImageData" name="ImageData" value="">

            <button type="submit">Submit</button>
        </form>
    </div>
    <img id="captured-image" alt="Captured Image" style="display: none;">
</body>
</html>