body{
    background-color:white
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    
}

.container-content {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.nav {
    background-image: linear-gradient(90deg, aqua, lightblue, #05a7c1);
    margin:-8px;
    padding: 10px;
    
}