@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <title>Admin Page</title>
    <link rel="stylesheet" href="~/css/styles.css">
    </head>
    <body>
        <div class="nav">
        <h1>Admin Page</h1>
    </div>
    </body>
</html>